#content {
    background-color: : #fff;
}

#content h1 {
    font-size: 24px;
    text-align: left;
}

#content ul.results li {
  float: left;
  position: relative;
  margin: 0 0 4px 0;
  padding: 0;
  /*height: 0;*/
  /*width: 50%;*/
  /*padding-bottom: 50%;*/
  background: url(img/question_mark.gif) 0 0 no-repeat;
  font-size: 1em;
  overflow: hidden;
}

#content ul.results li a span {
  position: absolute;
  left: 0;
  top: 0;
  text-align: left;
  font-size: 16px;
  color: #ccc;
  text-decoration: underline;
  cursor: hand;
  width: 100%;
  height: 1em;
  background-color: rgba(0,0,0,0.5);
  padding: 0.5em 0.5em 0.5em 0.5em;
}

#content ul.pages li {
    float: left;
    color: #66c;
    font-size: 16px;
    margin: 8px;
}

#content ul.page li.current {
    background-color: rgba(64, 128, 64, 0.8);
}