#content {
    background-color: : #fff;
}

#content h1 {
    font-size: 24px;
    text-align: left;
}

#content ul.results li {
  float: left;
  position: relative;
  margin: 0 0 4px 0;
  padding: 0;
  /*height: 0;*/
  /*width: 50%;*/
  /*padding-bottom: 50%;*/
  background: url(img/question_mark.gif) 0 0 no-repeat;
  font-size: 1em;
  overflow: hidden;
}

#content ul.results li a span {
  position: absolute;
  left: 0;
  top: 0;
  text-align: left;
  font-size: 16px;
  color: #ccc;
  text-decoration: underline;
  cursor: hand;
  width: 100%;
  height: 1em;
  background-color: rgba(0,0,0,0.5);
  padding: 0.5em 0.5em 0.5em 0.5em;
}

#content ul.pages {
  list-style: none;
  position: fixed;
  right: 4px;
  top: 36px;
}
#content ul.pages li {
  float: left;
  font-size: 16px;
  color: rgb(64, 188, 92);
  margin: 2px;
  padding: 0.2em 0.5em;
  outline-color: rgb(64, 188, 92);
  outline-style: solid;
  outline-width: 1px;
  text-decoration: none;
}
#content ul.pages li.current {
  color: #eee;
  background-color: rgb(60, 166, 86);
}

#content ul.searches li {
  text-align: left;
}
#content ul.searches li span.search-term {
  font-size: 16px;
  padding: 10px 10px 2px 2px;
}
#content ul.searches li span.search-date {
  text-align: right;
  font-size: 12px;
}